.uppercontainer{
    display:flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
    
}
.box{
    background-color: black;
    color: white;
    border: 8px solid red;
    border-radius: 30px;
    font-weight: bold;
  
}
.leftbox{
    width: 250px;
    height: 100px;
     margin:30px;
     padding: 20px 0px 0px 20px;
     text-align: center;
     font-family: bold;
}
.midbox{
    width: 350px;
    height: 60px;
    text-align: center;
    margin-left: 277px;
    margin-top: -152px;
    font-family: bold;  
}
.rightbox{
   
   width:219px;
    height: 111px;
    margin-top: -90px;
   margin-left: 900px;
  text-align: center;
  
   font-family: bold;
  
}
.circle{
    border-radius: 70%;
    width:300px;
    height:300px;
    background-color: lightgreen;
    border:5px solid grey;
    margin-left: 80px;
    text-align: center;
    margin-top: 100px;
}
.circletext{
    margin-top: 50px;
    
   
}

.formbox{
    width:280px;
    height:450px;
    border:10px red dashed;
    text-align: center;
    color: red;
   align-items: center;
   margin-left: 213px;
   margin-top: 9px;
   background-color: white;
   
}

.lowercontainer{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
  
}
.menubox{
   width:350px;
   height:250px;
   border:5px solid grey;
   background-color: lightblue;
   margin-bottom: 50px;
   border-radius: 15px;
   color:darkblue;
   text-align: center;
}
.lastbox{
    height:290px;
}
body{
    margin:0;
    border: 10px groove green;
    background-image: url("./clouds.jpg");

}
#menu{
    line-height: 20px;
    color:darkblue;
}
.middle{
    
    width:400px;
    height:60px;
    text-align: center;
     margin: auto;
}
.midcontainer{
    display: flex;
    align-items: center;
    
    
    
}